<!DOCTYPE html>
<html lang="en">

<!-- auth-register.html  Tue, 07 Jan 2020 03:39:47 GMT -->
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>{{title}}</title>

<!-- General CSS Files -->
<link rel="stylesheet" href="{{url_for('static',filename='assets/modules/bootstrap/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='assets/modules/fontawesome/css/all.min.css')}}">

<!-- CSS Libraries -->
<link rel="stylesheet" href="{{url_for('static',filename='assets/modules/jquery-selectric/selectric.css')}}">

<!-- Template CSS -->
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/style.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/components.min.css')}}">
</head>

<body class="layout-4">

<div id="app">


    {% block body %}
        
    {% endblock %}


</div>


</body>

<!-- General JS Scripts -->
<script src="{{url_for('static',filename='assets/bundles/lib.vendor.bundle.js')}}"></script>
<script src="{{url_for('static',filename='js/CodiePie.js')}}"></script>

<!-- JS Libraies -->
<script src="{{url_for('static',filename='assets/modules/jquery-pwstrength/jquery.pwstrength.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/modules/jquery-selectric/jquery.selectric.min.js')}}"></script>

<!-- Page Specific JS File -->
<script src="{{url_for('static',filename='js/page/auth-register.js')}}"></script>
<script src="{{url_for('static',filename='js/page/forms-advanced-forms.js')}}"></script>

<!-- Template JS File -->
<script src="{{url_for('static',filename='js/scripts.js')}}"></script>
<script src="{{url_for('static',filename='js/custom.js')}}"></script>
<script src="{{url_for('static',filename='js/fontawesome.js')}}"></script>

<!-- auth-register.html  Tue, 07 Jan 2020 03:39:48 GMT -->
</html>